<table >
<table class="w-full">
    <tr>
      <td class="w-full h-1 bg-nmqgreen-00">
        <!-- <x-spacer height="1px" /> -->
      </td>
    </tr>

</table>
<!-- Contact emails -->
<table class="w-[660px] sm:w-full pl-3 pr-3">
    <tr class="row-span-3">
    <td class="pt-3 pb-1 sm:pb-2 text-xl text-nmqlogo font-[500]">
        Contact us
    </td>
    </tr>
</table>

<table class="w-full ml-3">
  <tr class="sm:w-full sm:table">
    <th class="w-1/3 sm:table-footer-group">
      <div class="sm:mb-3">
        <div class="text-left text-sm/4.5 font-semibold text-nmqgreen-00">Help and support:
        <br />
        <span class="text-left text-sm/4.5 font-[400] text-nmqgrey-00"><a href="mailto:support@northmarque.net" class="text-sm font-[400] sm:w-full">
        support@northmarque.net
        </a></span>
        </div>
      </div>
    </th>
    <th class="w-1/3 sm:table-footer-group">
      <div class="sm:mb-1">
        <div class="text-left text-sm/4.5 font-semibold text-nmqgreen-00">Property matters:
        <br />
        <span class="text-left text-sm/4.5 font-[400] text-nmqgrey-00"><a href="mailto:property@northmarque.net" class="text-sm font-[400] sm:w-full">
        property@northmarque.net
        </a></span>
        </div>
      </div>
    </th>
    <th class="w-1/3 sm:table-caption sm:w-full">
      <div class="sm:mb-1">
        <div class="text-left text-sm/4.5 font-semibold text-nmqgreen-00">General enquiries:
        <br />
        <span class="text-left text-sm/4.5 font-[400] text-nmqgrey-00"><a href="mailto:community@northmarque.net" class="text-sm font-[400] sm:w-full">
        community@northmarque.net
        </a></span>
        </div>
      </div>
    </th>
  </tr>
</table>


<x-divider top="9px" bottom="6px" left="12px" right="12px"/>

<table class="w-full ml-3 sm:mt-3 mb-3">
  <tr>
    <th class="w-1/2 sm:table-footer-group">
      <div class="sm:w-full">
              <div class="text-left text-sm/4.5 text-nmq-logo font-semibold">
      Location<br />
      <span class="text-left text-sm/4.5 text-nmqgrey-00 font-[400]">
      25 Northmarque Street<br /></span>
      <span class="text-left text-sm/4.5 text-nmqgrey-00 font-[400]">Carseldine Qld 4034<br /></span>
      <span class="text-left text-sm/4.5 text-nmqgrey-00 font-[400]">Australia
      </span>
      </div>
    </th>
    <th class="w-1/2 sm:table-header-group sm:mt-3 text-left text-sm/4.5 font-[500]">
      <div class="sm:mb-2 sm:mt-2 text-nmq-logo">
              Postal address<br />
      <span class="text-left text-sm/4.5 text-nmqgrey-00 font-[400]">
      c/&#0150; BC Systems <br /></span>
      <span class="text-left text-sm/4.5 text-nmqgrey-00 font-[400]">PO Box 743<br /></span>
      <span class="text-left text-sm/4.5 text-nmqgrey-00 font-[400]">Morningside Qld 4170
      </span>
      </div>
    </th>
  </tr>
</table>


<!-- Copyright notice -->
<table class="w-full max-w-[100vw] py-3 px-3 sm:px-3 bg-nmqgreen-00">
    <tr>
      <td>

        <div class="m-0 text-sm font-semibold text-nmqgreen-05">
          The Body Corporate for Northmarque Carseldine.
        </div>
        <div class="mb-1 text-xs text-nmqgreen-05">
          (Community Title Scheme 43944)
        </div>
          <div class="m-0 text-xs text-nmqgreen-05">
          &copy;Copyright {{ new Date().getFullYear() }}. ALL RIGHTS RESERVED.
        </div>
        <div class="mt-1 text-xs text-nmqgreen-05">
        <a href="{{ UnsubscribeURL }}" class="m-0 text-xs text-nmqgreen-05">Click here to unsubscribe.</a>
        </div>
</td>
    </tr>
</table>
