<!-- Contact emails -->
<table class="w-[660px] sm:w-full place-self-start">
    <tr class="row-span-3">
    <td class="pt-3 text-xl text-nmqgreen-00 font-[500]">
        Contact us
    </td>
    </tr>
    <tr>
    <td class="pt-1 bg-nmqgreen-05">
      <p class="w-3/9  sm:w-full m-0 text-sm font-semibold text-nmq-logo">
        General enquiries:
      </p>
    </td>
    <td class="pt-1 bg-nmqgreen-05">
      <p class="w-3/9  sm:w-full m-0 text-sm font-semibold text-nmq-logo">
        Help and support:
      </p>
    </td>
        <td class="pt-1 bg-nmqgreen-05">
      <p class="w-3/9  sm:w-full m-0 text-sm font-semibold text-nmq-logo">
        Property matters:
      </p>
    </td>
  </tr>
    <tr>
    <td class="pb-3">
        <p class="w-3/9  sm:w-full m-0">
        <a  href="mailto:community@northmarque.net" class="text-sm">
        community@northmarque.net
        </a></p>
    </td>
    <td class="pb-3">
        <p class="w-3/9  sm:w-full m-0">
        <a  href="mailto:support@northmarque.net" class="text-sm">
        support@northmarque.net
        </a></p>
    </td>
    <td class="pb-3">
        <p class="w-3/9  sm:w-full m-0">
        <a  href="mailto:community@northmarque.net" class="text-sm">
        support@northmarque.net
        </a></p>
    </td>
  </tr>
</table>

<x-divider space-y="0"/>

<!-- Addresses -->
<table class="w-[660px] sm:w-full place-self-start">
  <tr>
    <td class="pt-3 bg-nmqgreen-05">
      <p class="w-1/2  sm:w-full m-0 text-sm font-semibold text-nmq-logo">
        Location
      </p>
    </td>
    <td class="pt-3 bg-nmqgreen-05">
      <p class="w-1/2  sm:w-full m-0 text-sm font-semibold text-nmq-logo">
        Postal address
      </p>
    </td>
  </tr>
  <tr>
    <td class="pb-3 bg-nmqgreen-05">
      <p class="w-1/2  sm:w-full m-0 text-sm text-nmq-logo">
        25 Northmarque Street<br />
        Carseldine Qld 4034<br />
        Australia
      </p>
    </td>
    <td class="pb-3 bg-nmqgreen-05">
      <p class="w-1/2  sm:w-full m-0 text-sm text-nmq-logo">
        c/&#0150; BC Systems<br />
        PO Box 743<br />
        Morningside Qld 4170
      </p>
    </td>
  </tr>
</table>

<!-- Copyright notice -->
<table class="w-full">
    <tr>
      <td class="py-3 px-3 sm:px-7 bg-nmqgreen-00">
        <p class="m-0 text-xs text-nmqgreen-05">
          &copy; COPYRIGHT {{ new Date().getFullYear() }}. Northmarque Carseldine. Community Title Scheme 43944.
        </p>
          <p class="m-0 text-xs text-nmqgreen-05">
          All rights reserved.
        </p>
      </td>
    </tr>
</table>