<!-- Contact emails -->
<table class="w-[660px] sm:w-full pl-3 pr-3">
    <tr class="row-span-3">
    <td class="pt-3 text-xl text-nmqgreen-00 font-[500]">
        Contact us
    </td>
    </tr>
</table>


<div class="w-[660px] sm:w-full pl-3 content-between">

    <div class="w-4/12  align-top">
            <div class="text-sm font-semibold text-nmq-logo">
        General enquiries:
      </div>
      <div><a href="mailto:community@northmarque.net" class="text-sm align-top">
        community@northmarque.net
        </a></div>
    </div>
    <div class="w-4/12  align-top">
      <div class="text-sm font-semibold text-nmq-logo">
        General enquiries:
      </div>
      <div><a href="mailto:community@northmarque.net" class="text-sm align-top">
        community@northmarque.net
        </a></div></div>
    <div class="w-4/12  align-top"><div class="text-sm font-semibold text-nmq-logo">
        General enquiries:
      </div>
      <div><a href="mailto:community@northmarque.net" class="text-sm align-top">
        community@northmarque.net
        </a></div></div>

</div>
<table class="w-[660px] sm:w-full pl-3 pb-3 content-start">
    <tr>
    <td class="w-4/12 bg-nmqgreen-05">
      <p class="text-sm font-semibold text-nmq-logo">
        General enquiries:
      </p>
             <a href="mailto:community@northmarque.net" class="text-sm align-top">
        community@northmarque.net
        </a>
      </td>
      <td class="w-4/12 bg-nmqgreen-05">
      <p class="text-sm font-semibold text-nmq-logo">
        Help and support:
      </p>
              <a  href="mailto:support@northmarque.net">
        support@northmarque.net
        </a>
      </td>
      <td class="w-4/12 bg-nmqgreen-05">
      <p class="text-sm font-semibold text-nmq-logo">
        Property matters:
      </p>
              <a  href="mailto:community@northmarque.net">
        support@northmarque.net
        </a>
    </td>
  </tr>
</table>

<x-divider space-y="0"/>

<!-- Addresses -->
<table class="w-[660px] sm:w-full place-self-start">
  <tr>
    <td class="pt-3 bg-nmqgreen-05">
      <p class="w-1/2  sm:w-full m-0 text-sm font-semibold text-nmq-logo">
        Location
      </p>
    </td>
    <td class="pt-3 bg-nmqgreen-05">
      <p class="w-1/2  sm:w-full m-0 text-sm font-semibold text-nmq-logo">
        Postal address
      </p>
    </td>
  </tr>
  <tr>
    <td class="pb-3 bg-nmqgreen-05">
      <div class="w-1/2  sm:w-full m-0 text-sm text-nmq-logo">
        25 Northmarque Street
      </div>
      <div class="w-1/2  sm:w-full m-0 text-sm text-nmq-logo">
        Carseldine Qld 4034
        Australia
      </div>
    </td>
    <td class="pb-3 bg-nmqgreen-05">
      <p class="w-1/2  sm:w-full m-0 text-sm text-nmq-logo">
        c/&#0150; BC Systems<br />
        PO Box 743<br />
        Morningside Qld 4170
      </p>
    </td>
  </tr>
</table>

<!-- Copyright notice -->
<table class="w-full">
    <tr>
      <td class="py-3 px-3 sm:px-7 bg-nmqgreen-00">
        <p class="m-0 text-xs text-nmqgreen-05">
          &copy; COPYRIGHT {{ new Date().getFullYear() }}. Northmarque Carseldine. Community Title Scheme 43944.
        </p>
          <p class="m-0 text-xs text-nmqgreen-05">
          All rights reserved.
        </p>
      </td>
    </tr>
</table>
