<img src="https://edm.nthmrq.net/uploads/NMQ.EML.HDR.NEWS.001_MBL@2x.png" alt="Northmarque Email banner: Weather alert" width="660" class="w-full max-w-full align-middle" />
<img src=src="https://edm.nthmrq.net/uploads/NMQ.EML.HDR.NEWS.001_MBL@2x.png" alt="Northmarque Email banner: Weather alert" width="440" class="sm:
 w-full max-w-full align-middle"

<img class="block md:hidden" src="/path/to/small-image.jpg" alt="Small image">
<img class="hidden md:block" src="/path/to/large-image.jpg" alt="Large image">
